@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<body>
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>About Us</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../img/about-hero.svg" alt="About Hero" class="medium">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->
    <!-- Start Section -->
    <style>
        .times-font {
            font-family: 'Times New Roman', Times, serif;
        }
    </style>

    <div class="theme-features">
        <div class="container">
            <h3>NEDEN PELUSHE</h3>
           <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-expand1">
                        <i class="fas fa-globe fa-3x mb-2 text-success float-left"></i>
                        <div class="ml-4">
                            <h4 class="times-font font-weight-bold text-left">Hizmet Alanı </h4>
                            <p>14 yılı aşkın tecrübemiz ile Türkiye ve Dünya genelinde önde gelen markalara trend ev terlikleri üretiyoruz. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-global">
                        <i class="fas fa-female fa-3x mb-2 text-success float-left"></i>
                        <div class="ml-4">
                            <h4 class="times-font font-weight-bold text-left">Kadın İstihdamı</h4>
                            <p>%90'ını kadın çalışanların oluşturduğu ekibimiz kadın istihdamının her zaman arkasındadır. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-cart">
                        <i class="fas fa-paint-brush fa-3x mb-2 text-success float-left"></i>
                        <div class="ml-4">
                            <h4 class="times-font font-weight-bold text-left">Tasarım Trendleri</h4>
                            <p>Modern, dinamik ve eğlenceli tasarımlarımız ile trendleri yakından takip ediyoruz. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-global">
                        <i class="fas fa-microchip fa-3x mb-2 text-success float-left"></i>
                        <div class="ml-4">
                            <h4>Yeni Nesil Teknoloji</h4>
                            <p>Ürünlerimizin kalite ve konforunu yeni nesil üretim teknolojileri ile artırarak geliştirmeye her geçen gün devam ediyoruz. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-global">
                        <i class="fas fa-users fa-3x mb-2 text-success float-left"></i>
                        <div class="ml-4">
                            <h4 class="times-font font-weight-bold text-left">Müşteri Memnuniyeti</h4>
                            <p>Hedef kitlelerimizin taleplerine hızlı ve akılcı çözümler sunarak müşteri memnuniyetini en üst düzeyde tutmayı hedefliyoruz. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-global">
                        <i class="fas fa-clock fa-3x mb-2 text-success float-left"></i>
                        <div class="ml-4">
                            <h4 class="times-font font-weight-bold text-left">24 saat hizmet</h4>
                            <p>24 saat hizmetinizdeyiz; sorularınızı yanıtlamak, ihtiyaçlarınıza çözüm bulmak ve sizin için her an yanınızda olmak bizim için bir ayrıcalıktır. </p>
                        </div>
                    </div>
                </div>
                <!-- Add the rest of the content in a similar way -->
            </div>
        </div>
    </div>





    <!-- End Section -->
    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Refereanslarımız</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->
                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->
                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->
</body>